body {
  /* background-color: #f28ab2; */
  background-color: #f1f5f8;
  font-family: monospace;
  margin-bottom: 100px;
}
.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 60px;
  margin-top: 60px;
  margin-left: 120px;
}

.effect-item {
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  /* background-color: #747272;
  background-color: #bbc5ce; */
  background-color: #ca8aa3;
  /* background-color: #8c8c9c; */
  /* //#5799ef
//#2f334d
//#8c8c9c */
  color: #fff;
  padding: 0.75rem;
  font-size: 0.7rem;
}
.section {
  font-family: monospace;
}
